{% extends 'admin.twig' %}

{% block body %}
    <div class="container">
        {% include 'include/flashMessage.twig' %}
        <ol class="breadcrumb">
            <li>
                <a href="{{siteUrl('report')}}">レポート一覧</a>
            <li class="active">詳細</li>
        </ol>
        <h1 class="page-header">{{ title }}</h1>
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 class="panel-title">作成者：{{ report.users().getResults().us_name|e }}</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                    <tr>
                        <th class="success" style="width: 10%;">作業日</th>
                        <td>{{ report.rp_date }}</td>
                    <tr>
                    <tr>
                        <th class="success">作成時刻</th>
                        <td>{{ report.rp_time_from|date("H:i") }} 〜 {{ report.rp_time_to|date("H:i") }}</td>
                    <tr>
                    <tr>
                        <th class="success">作業種類</th>
                        <td>{{ report.reportcates().getResults().rc_name  }}</td>
                    </tr>
                    <tr>
                        <th class="success">操作</th>
                    <td>
                        <a class="btn btn-success btn-sm" href="{{siteUrl('report')}}/{{ report.id }}/edit">編集</a>
                        <a class="btn btn-danger btn-sm" href="{{siteUrl('report')}}/{{ report.id }}/delete">削除</a>
                    </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                {{ report.rp_content|nl2br }}
            </div>
            <div class="panel-footer text-left">作成日： {{ report.rp_created_at }}</div>
        </div>
    </div>
{% endblock %}
